

/*----------header start--------*/
.header {
    width: 1160px;
    margin-top: 40px;
    margin-left: 140px;
    margin-right: 140px;
    height: 299px;
    opacity: 0.502;
    background-color: #f0c52e;
}

.logo {
    position: absolute;
    top: 23px;
    left: 200px;
}

.logo__link:hover {
    opacity: .6;
}

.logo__link:active {
    opacity: .3;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

.navigation__left {
    display: flex;
    align-items: end;
    flex-grow: 0.5;
}

.search__lable {
    position: absolute;
    left: 203px;
    height: 23px;
}

.search__img {
    width: 16px;
    height: 16px;
}

.search__input {
    margin-left: 70px;
    padding-left: 20px;
    width: 250px;
    height: 25px;
    opacity: 0.6;
    font-size: 15px;
    color: #000000;
    font-weight: 300;
    font-family: "Open Sans";
    border: none;
    background: none;
    margin-right: 0;
}

.search__input::placeholder {
    opacity: .3;
    width: 200px;
    height: 15px;
    font-size: 15px;
    color: #000000;
    font-weight: 300;
    font-family: "Open Sans";
}

.search__input::placeholder:hover {
    opacity: .6;
}

.search__input:hover {
    opacity: 1;
}

.search__input:focus {
    outline: 0;
    outline-offset: 0; 
    opacity: 1;
    border-bottom: 1px solid black;  
}

.search__input:focus ~ .search__lable{
    border-bottom: 1px solid black;
}

.search__input:focus ~ .search__btn{
    visibility: visible;
}

.search__btn {
    visibility: hidden;
    width: 85px;
    height: 29px;
    font-size: 15px;
    color: black;
    font-weight: 300;
    font-family: "Open Sans";
    text-align: center;
    background: none;
    border: 1px solid black;
    margin-left: 0;
}

.search__btn:hover {
    color: white;
    background-color: black;
    opacity: 1;
}

.search__btn:active {
    color: white;
    background-color: black;
    opacity: 1;
}

.search__btn:active span {
    opacity: .3;
}

.navigation__right {
    display: flex;
    align-items: end;
}

.login__btn {
    width: 100px;
    height: 15px;
    font-size: 15px;
    color: #000000;
    font-weight: 300;
    font-family: "Open Sans";
    border: none;
    background: none;
    position: relative;
    margin-right: 90px;
}

.login__btn:hover {
    opacity: .6;
}

.login__btn:active {
    opacity: .3;
}

.login__btn::before {
    content: " ";
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url("./asset/user-svg.png");
}

.compare__link {
    text-decoration: none;
    width: 100px;
    height: 15px;
    font-size: 15px;
    color: #000000;
    font-weight: 300;
    font-family: "Open Sans";
    position: relative;
    text-align: center;
    margin-left: 150px;
}

.compare__link:hover {
    opacity: .6;
}

.compare__link:active {
    opacity: .3;
}

.compare__link::before {
    content: " ";
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    bottom: 0;
    background-image: url("./asset/compare-svg.png");
}

.cart__link {
    text-decoration: none;
    width: 100px;
    height: 15px;
    font-size: 15px;
    color: #000000;
    font-weight: 300;
    font-family: "Open Sans";
    position: relative;
    text-align: center;
    margin-right: 20px;
}

.cart__link::before {
    content: " ";
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url("./asset/cart-svg.png");
}

.cart__link:hover {
    opacity: .6;
}

.cart__link:active {
    opacity: .3;
}

.bar {
    display: flex;
    width: 1160px;
    margin-top: 20px;
    position: relative;
    z-index: 3;
}

.bar__ul1 {
    display: flex;
    width: 580px;
    position: relative;
    z-index: 4;
}

.bar__ul2 {
    display: flex;
    width: 580px;
    padding-left: 0;
}

.bar__li1 {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    position: relative;
}

.bar__link {
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 4px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 800;
    font-family: "Gilroy";
}

.bar__li4 {
    list-style-type: none;
    margin-left: 80px;
}

.bar__li2 {
    list-style-type: none;
}

.bar__li3 {
    list-style-type: none;
    margin-left: 30px;
}

.bar__li2:hover, .bar__li3:hover, .bar__li4:hover {
    opacity: .6;
}

.bar__li2:active, .bar__li3:active, .bar__li4:active {
    opacity: .3;
}

.bar__links {
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 4px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 800;
    font-family: "Gilroy";
}

.bar__li a:hover {
    opacity: .6;
}

.bar__li a:active {
    opacity: .3;
}

.bar__link::after {
    content: " ";
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    margin-top: 4px;
    background-image: url("./asset/plus.png");
}

.bar__link:hover, .menu__link:hover {
    opacity: .6;
}

.bar__link:active, .menu__link:active  {
    opacity: .3;
}

.bar__link:hover ~ .menu {
    display: flex;
    flex-grow: 0.5;
    justify-content: space-between;
    padding-top: 40px;
    z-index:10; 
    background-color: #f0c52e;
}

.menu {
    display: none;
    margin: 0;
    padding: 0;
}

.menu:hover {
    display: flex;
    flex-grow: 0.5;
    justify-content: space-between;
    padding-top: 40px;
    z-index:10; 
    background-color: #f0c52e;  
}

.menu__ul1, .menu__ul2, .menu__ul3 li {
    list-style-type: none;
}

.menu__ul1 {
    margin-left: 0;
    padding-left: 0;
}

.menu__link {
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #000000;
    font-weight: 300;
    font-family: "Open Sans";
}

/*----------header end--------*/

/*----------footer start--------*/
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 311px;
    background-color: #464646;
    position: relative;
    
}

.footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 72px;
    width: 1160px;
}

.footer__link:hover {
    opacity: .6;
}

.footer__link:active {
    opacity: .3;
}

.footer__topUl {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 265px;
}

.footer__topUl li{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.footer__topLink {
    text-decoration: none;
    opacity: 0.702;
    width: 100px;
    height: 15px;
    font-size: 15px;
    margin-left: 20px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Open Sans";
}

.footer__topLink--1::before {
    content: " ";
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url("./asset/user-svg.png");
    background-color: #f0c52e;
}

.footer__topLink--2::before {
    content: " ";
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url("./asset/compare-svg.png");
    background-color: #f0c52e;
}

.footer__topLink--3::before {
    content: " ";
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url("./asset/cart-svg.png");
    background-color: #f0c52e;
}

.footer__topLink:hover {
    opacity: 1;
}

.footer__topLink:active {
    opacity: .3;
}

.footer__mid {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 1160px;
}

.footer__midUl {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 530px;
}

.footer__midUl li {
    list-style-type: none;
}

.footer__midLink {
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 4px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 800;
    font-family: "Gilroy";
}

.footer__midLink:hover {
    opacity: .6;
}

.footer__midLink:active {
    opacity: .3;
}

.footer__midText {
    width: 261px;
    height: 22px;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Open Sans";
}

.footer__midText--right{
    text-align: end;
    width: 261px;
    height: 22px;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Open Sans";
}

.footer__bottom {
    display: flex;
    width: 1160px;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
}

.footer__bottomUl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.footer__bottomUl li {
    list-style-type: none;
}

.footer__bottomLink {
    opacity: .6;
}

.footer__bottomLink:hover {
    opacity: 1;
}

.footer__bottomLink:active {
    opacity: .3;
}

.footer__bottomLogo:hover {
    opacity: .6;
}

.footer__bottomLogo:active {
    opacity: .3;
}
/*----------footer end--------*/

/*----------сontent start--------*/
.content{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

}

/*------------slider-------------*/

.slider {
    width: 1070px;
    height: 449px;
    margin-left: 31px;
    margin-right: 59px;
    margin-bottom: 10px;
    position: relative;
    left: 140px;
    bottom: 80px;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

input[name=radio] {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0; 
}

.slider__slide {
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 420px;
}

.slider__right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.slider__text1 {
    width: 400px;
    height: 44px;
    font-size: 47px;
    letter-spacing: 0px;
    line-height: 56px;
    color: #000000;
    font-weight: 800;
    font-family: "Gilroy";
}

.slider__text2 {
    margin-top: 30px;
    width: 557px;
    height: 69px;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #464646;
    font-weight: 300;
    font-family: "Open Sans";
}

.slider__link {
    margin-top: 30px;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 4px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 800;
    font-family: "Gilroy";
    text-align: center;
}

.slider__ul1, .slider__ul2 {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    padding-left: 0;
    width: 400px;
    align-items: start;
}

.slider__ul1 li {
    width: 80px;
    list-style-type: none;
    font-size: 36px;
    letter-spacing: 0px;
    line-height: 48px;
    color: #000000;
    font-weight: 300;
    font-family: "Gilroy";
}

.slider__ul2 li{
    width: 80px;
    list-style-type: none;
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 20px;
    color: #464646;
    font-weight: 300;
    font-family: "Open Sans";
}

.slider__lable{
    width: 20px;
    margin-left: 20px;
    height: 20px;
    position: absolute;
    
}
  
.slider__lable::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: black;
}

input:checked + .slider__lable::after{
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    transform: translate(40%, 40%);
    border: 2px solid #C1C1C1;
    background-color: red;
    border-radius: 50px;
}

/*----------slider end--------*/

.list, .brands {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1160px;
    margin-top: 20px;
    margin-left: 140px;
    margin-right: 140px;
    padding: 0;
}

.list__li {
    list-style-type: none;
    width: 160px;
    height: 160px;
    background-color: #f0c52e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list__li:not([list__img]) {
    opacity: .5;
}

.list__l {
    list-style-type: none;
    width: 160px;
    display: flex;
    align-items: start;
    justify-content: start;
}

.list__text {
    width: 160px;
    height: 78px;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #000000;
    font-weight: 800;
    font-family: "Gilroy";
}

.brands__picture {
    width: 260px;
    height: 100px;
}

.brands__picture--1 {
    background-image: url("./asset/br1.jpg.png");
}

.brands__picture--1:hover {
    background-image: url("./asset/l1.png");
}

.brands__picture--2 {
    background-image: url("./asset/br2.png");
}

.brands__picture--2:hover {
    background-image: url("./asset/l2.png");
}

.brands__picture--3 {
    background-image: url("./asset/br3.jpg.png");
}

.brands__picture--3:hover {
    background-image: url("./asset/l3.png");
}

.brands__picture--4 {
    background-image: url("./asset/br4.jpg.png");
}

.brands__picture--4:hover {
    background-image: url("./asset/l4.png");
}

.delivery {
    background-color: #e5e5e5;
    width: 1445px;
    height: 288px;
    display: flex;
}

.delivery__left {
    width: 278px;
    height: 319px;
    margin-left: 140px;
    border-right: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delivery__left ul {
    display: flex;
    flex-direction: column;
    height: 319px;
    padding: 0;
}

.delivery__li {
    margin-top: 60px;
    list-style-type: none;
    width: 160px;
    height: 8px;
    background-color: #f0c52e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delivery__li:hover {
    height: 30px;
}

.delivery__li a {
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 4px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 800;
    font-family: "Gilroy";
    text-align: center;
}

.delivery__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delivery__rightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 50px;
    left: 80px;
}

.delivery__text1 {
    font-size: 47px;
    letter-spacing: 0px;
    line-height: 48px;
    color: #000000;
    font-weight: 800;
    font-family: "Gilroy";
}

.delivery__text2 {
    margin-top: 20px;
    width: 437px;
    height: 157px;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #464646;
    font-weight: 300;
    font-family: "Open Sans";
}

.delivery__img {
    position: relative;
    left: 200px;
    bottom: 90px;
}





/*----------content end--------*/